.banner_bg{
    background-image:url('../../assets/img/hero_bg.png');
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;
}
.title_head{
    line-height:1.1;
}